@import "../../styles/variables.scss";

.input {
  width: 295px;
  height: 32px;
  box-sizing: border-box;
  padding: 4px 16px;
  border-radius: 4px;
  font-style: italic;
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  color: $text-color;
  background-color:white;
  margin: 0 auto 16px auto;
  border: 1px solid $primary-color;
  max-width: 200px;
}
